In [10]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
# import Dependencies 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [16]:
# import Data
vgd_df = pd.read_csv(r"E:\final\Temp_database.csv")

In [17]:
# Display Data 
vgd_df.head()

,Game,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,PS4,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,PS4,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,PS4,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,PS4,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [20]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
vgd_df.drop(['Publisher'], axis=1, inplace=True)

In [21]:
vgd_df.head()

,Game,Platform,Year,Genre,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,PS4,2014.0,Action,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,PS4,2018.0,Action-Adventure,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,PS4,2017.0,Shooter,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,PS4,2017.0,Sports,1.27,8.64,0.15,1.73,11.80

In [22]:
# Inspecting the data
vgd_df.shape

(2823, 9)

In [25]:
vgd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           2823 non-null   object
 1   Platform       2823 non-null   object
 2   Year           2597 non-null   float64
 3   Genre          2823 non-null   object
 4   North America  2823 non-null   float64
 5   Europe         2823 non-null   float64
 6   Japan          2823 non-null   float64
 7   Rest of World  2823 non-null   float64
 8   Global         2823 non-null   float64
dtypes: float64(6), object(3)
memory usage: 198.6+ KB

In [26]:
vgd_df.describe()

,Year,North America,Europe,Japan,Rest of World,Global
count,2597.00000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000
mean,2012.99692,0.374658,0.209809,0.018169,0.062713,0.470992
std,5.39574,1.507118,0.626146,0.072672,0.188938,1.255961
min,1984.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2011.00000,0.000000,0.000000,0.000000,0.000000,0.020000
50%,2015.00000,0.020000,0.020000,0.000000,0.010000,0.060000
75%,2016.00000,0.180000,0.130000,0.000000,0.040000,0.310000
max,2022.00000,42.000000,9.710000,2.170000,3.020000,19.390000

In [27]:
# Examine data for Null variables

vgd_df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of        Game  Platform   Year  Genre  North America  Europe  Japan  \
0     False     False  False  False          False   False  False
1     False     False  False  False          False   False  False
2     False     False  False  False          False   False  False
3     False     False  False  False          False   False  False
4     False     False  False  False          False   False  False
...     ...       ...    ...    ...            ...     ...    ...
2818  False     False  False  False          False   False  False
2819  False     False  False  False          False   False  False
2820  False     False  False  False          False   False  False
2821  False     False  False  False          False   False  False
2822  False     False  False  False          False   False  False

      Rest of World  Global
0             False   False
1             False   False
2             False   False
3             False   False
4             False   False
...             ...     ...
2818          False   False
2819          False   False
2820          False   False
2821          False   False
2822          False   False

[2823 rows x 9 columns]>